<div class="welcome-box">
    <h2>Welcome, {{FirstName}} {{LastName}}</h2>
</div>

<br>

<div class="posts-container">
    <h2>Posts</h2>
        <div class="post">
            <p><strong>{{posts.Title}}</strong><br>

            </p>
        </div>
</div>
<br>
<div class="user-info">
<p>Email: {{Email}}</p>
<p>Username: {{Username}}</p>
<p>Status: {{Status}}</p>
</div>
<a href="/users/logout">Log out</a>