<nav class="navbar fixed-top navbar-light" style="background-color: #3186c2;" id="navbar">
  Friends 
</nav>
<br>
<div class="user-overview">
<h2>User Overview</h2>
<p style="font-size: 25px;color:rgb(47, 134, 168);"><br>

Username: {{Username}} <br>
<hr/>
<strong>Full Name:</strong> {{FirstName}} {{LastName}}
<br>
<strong>Contact Info </strong><br>
<strong>Email: </strong>{{Email}} <br>
<strong>User Id: </strong>{{UserId}} 
</p>

{{!-- <h2>Posts:</h2>
{{#each posts}}
<h2>{{PostTitle}}</h2>
<p>{{PostBody}}</p>
{{/each}} --}}

<hr/>
        <script>        
               function onDelete() {
                        $.ajax({
                            url: '/users/admin/editUser/{{UserId}}/delete',
                            method: 'DELETE', complete: () => window.location = "/users/admin"
                        })
                    }
                    
                    </script>


<div class="danger-zone">
<h3>Danger Zone</h3>

  <div class="button-box1">
    
      <button class="btn btn-outline-danger" onclick="onDelete()" id="deleteButton">Delete User</button>
  </div>
  </div>
</div>
 